body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.font-name {
  font-family: "Raleway 500", sans-serif;
}

/*====================
        HEADER
======================*/

header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

header .header-logo {
  flex-grow: 1;
}
header .header-logo-venue {
  font-size: 40px;
}

header .header-logo-title {
  text-transform: uppercase;
}
