//FONTS
// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway:500");

// Define fonts for body and headers
$body-font: "Lato", "Helvetica", "sans-serif";
$headers-font: "Raleway", "Helvetica", "sans-serif";

// COLORS
// Define variables for your color scheme
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$light: #ffc65a;
$dark: #167ffb;

// This is where you override default Bootstrap variables
// Defined with default value (see https://robots.thoughtbot.com/sass-default)

// General style
$font-family-sans-serif: $body-font;
$headings-font-family: $headers-font;
$body-bg: $light-gray;
$font-size-base: 1rem;

// Colors
$gray-base: $gray;
$brand-primary: $blue;
$brand-success: $green;
$brand-info: $yellow;
$brand-danger: $red;
$brand-warning: $orange;
$light: $light;
$dark: $dark;

// Buttons & inputs' radius
$border-radius-base: 4px;
$border-radius-large: 4px;
$border-radius-small: 4px;

// Override other variables below!
// Font colors
// $headings-color: white;
// $body-color: red;

@import "~bootstrap/scss/bootstrap.scss";
